{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable}}
{{ with $data.cta.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="cta" class="call-to-action section-sm bg-1 overly{{ if not $.IsHome }} lozad{{ end }}" style="background: linear-gradient(140deg, rgb(5 114 167 / 95%) 0%, rgb(7 181 152 / 76%) 50%, #12a168 100%); background-attachment: fixed;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{ .title | markdownify }}</h2>
				<p>{{ .content | markdownify }}</p>
				{{ if .button.enable }}
				{{ with .button }}
				<a href="{{ .link }}" class="btn btn-main page-scroll" target="_blank" rel="noopener noreferrer">{{ .label }}</a>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
